#calc {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.calcRow {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.calcBtn {
    flex: 1;
    text-align: center;
}

#calcDisplay {
    display: flex;
    flex: 1;
    border: 2px solid black;
}