#calc {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-weight: bold;
    border: 3px solid black;
}

.calcRow {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.calcBtn, .calcOpBtn, #calcEqBtn, #clrBtn, #backBtn {
    flex: 1;
    text-align: center;
}

button {
    font-weight: bold;
    font-size: 20px;
}

.calcBtn {
    background-color: white;
}

.calcOpBtn, #calcEqBtn {
    background-color: #9BCDD2;
}

#clrBtn, #backBtn {
    background-color: #FF8551;
}

#calcDisplay {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 3px solid black;
}