#calc {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.calcRow {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.calcBtn, .calcOpBtn, #calcEqBtn, #clrBtn {
    flex: 1;
    text-align: center;
}

#calcDisplay {
    display: flex;
    flex: 1;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
